p{
    text-align: center;
    color: red
}
body{ 
    background: blue;
    font-family: Arial, Helvetica, sans-serif;

}
#header{ 
    color:green;
}
.about{
    text-align: center;
    color: blue;
}
.project {
    text-align: center;
    image-orientation: center;
    background: #00b3d1;
}
.left{ 
    text-align: left;
}
.green {
    color: green;
}
.attention{
    font-weight: bold;
}
